<ng-container [ngSwitch]="view">
  <!-- view 1|readonly -->
  <ng-container *ngSwitchCase="1">
    <ng-container *ngTemplateOutlet="view1"></ng-container>
  </ng-container>
  <!-- view 2|edit profile -->
  <ng-container *ngSwitchCase="2">
    <ng-container *ngTemplateOutlet="view2"></ng-container>
  </ng-container>
</ng-container>

<!-- view 1|readonly -->
<ng-template #view1>
  <div class="card m-2">
    <h5 class="card-header">User Info</h5>
    <div class="card-body">
      <div class=col-md-3>
        <img src="http://i38.photobucket.com/albums/e149/eloginko/hello_zpsc60ffbf3.gif" />
      </div>
      <div class="row">
        <div class="col-md-3">
          <p class="profile">First Name: {{model.firstName}}</p>
        </div>

        <div class="col-md-3">
          <p class="profile">Last Name: {{model.lastName}}</p>
        </div>

        <div class="col-md-3">
          <p class="profile">Date of Birth: {{model.dateOfBirth}}</p>
        </div>

        <div class="col-md-3">
          <p class="profile">Address: {{model.streetAddress}}</p>
        </div>

        <div class="col-md-3">
          <p class="profile">City: {{model.city}}</p>
        </div>
        <div class="col-md-3">
          <p class="profile">State: {{model.state}}</p>
        </div>

        <div class="col-md-3">
          <p class="profile">Zip: {{model.zip}}</p>
        </div>

        <div class="col-md-3">
          <p class="profile">Email: {{model.email}}</p>
        </div>

        <div class="col-md-3">
          <p class="profile">Phone: {{model.phone}}</p>
        </div>

        <div class="col-md-3">
          <p class="profile">Bio: {{model.bio}}</p>
        </div>

        <!-- <div class="col-md-3">
          <p target="_blank" href="https://www.linkedin.com/home">LinkedIn</p>
        </div>

        <div class="col-md-3">
          <p target="_blank" href="https://github.com/">GitHub</p>
        </div>

        <div class="col-md-3">
          <p target="_blank" href="https://www.facebook.com/">Facebook</p>
        </div> -->
      </div>
      <button class="btn btn-primary" type="button" (click)="view = 2;">Edit Profile</button>
    </div>
  </div>
</ng-template>

<!-- view 2|edit profile -->
<ng-template #view2>
  <div class="card m-2">
    <h5 class="card-header">Add Class</h5>
    <div class="card-body">
      <form #form="ngForm" novalidate (ngSubmit)="save()">
        <div class="row">
          <div class="form-group col-md-3">
            <label for="firstName">First Name: </label>
            <input #firstName="ngModel" class="form-control" id="firstName" name="firstName" type="text" required [(ngModel)]="model.firstName">
          </div>

          <div class="form-group col-md-3">
            <label for="lastName">Last Name: </label>
            <input #lastName="ngModel" class="form-control" id="lastName" name="lastName" type="text" required [(ngModel)]="model.lastName">
          </div>

          <div class="form-group col-md-3">
            <label for="dateOfBirth">Date of Birth: </label>
            <input #dateOfBirth="ngModel" class="form-control" id="dateOfBirth" name="dateOfBirth" type="date" required [(ngModel)]="model.dateOfBirth">
          </div>

          <div class="form-group col-md-3">
            <label for="streetAddress">Street Address: </label>
            <input #streetAddress="ngModel" class="form-control" id="streetAddress" name="streetAddress" type="text" required [(ngModel)]="model.streetAddress">
          </div>

          <div class="form-group col-md-3">
            <label for="city">City: </label>
            <input #city="ngModel" class="form-control" id="city" name="city" type="text" required [(ngModel)]="model.city">
          </div>

          <div class="form-group col-md-3">
            <label for="state">State: </label>
            <input #state="ngModel" class="form-control" id="state" name="state" type="text" required [(ngModel)]="model.state">
          </div>

          <div class="form-group col-md-3">
            <label for="zip">Zip: </label>
            <input #zip="ngModel" class="form-control" id="zip" name="zip" type="text" required [(ngModel)]="model.zip">
          </div>

          <div class="form-group col-md-3">
            <label for="email">Email: </label>
            <input #email="ngModel" class="form-control" id="email" name="email" type="text" required [(ngModel)]="model.email">
          </div>

          <div class="form-group col-md-3">
            <label for="phone">Phone: </label>
            <input #phone="ngModel" class="form-control" id="zip" name="phone" type="text" required [(ngModel)]="model.phone">
          </div>

          <div class="form-group col-md-3">
            <label for="bio">Bio: </label>
            <input #bio="ngModel" class="form-control" id="zip" name="bio" type="text" required [(ngModel)]="model.bio">
          </div>

          <div class="form-group col-md-3">
            <label for="linkedInUrl">LinkedIn Url: </label>
            <input #linkedInUrl="ngModel" class="form-control" id="linkedInUrl" name="linkedInUrl" type="text" required [(ngModel)]="model.linkedInUrl">
          </div>

          <div class="form-group col-md-3">
            <label for="githubUrl">Github Url: </label>
            <input #githubUrl="ngModel" class="form-control" id="githubUrl" name="githubUrl" type="text" required [(ngModel)]="model.githubUrl">
          </div>

          <div class="form-group col-md-3">
            <label for="facebookUrl">Facebook Url: </label>
            <input #facebookUrl="ngModel" class="form-control" id="facebookUrl" name="facebookUrl" type="text" required [(ngModel)]="model.facebookUrl">
          </div>
        </div>

        <div class="btn-group" role="group">
          <button class="btn btn-secondary mr-2" (click)="view = 1;">Cancel</button>
          <button class="btn btn-primary" type="submit" (click)="view = 1;">Save</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>