<!-- <mat-sidenav-container> -->
<ng-container *ngIf="user">
  <div class="card mt-2 mr-3" style="width:18rem; height:80vh; float: right;">
    <h5 class="card-header">TODO:</h5>
      <div class="card-body">
          <table *ngIf="rows2" class="table table-hover">
              <tbody>
                  <tr (click)="loadCourse(x[0].courseId)" *ngFor="let x of rows2">
                      <td>{{x[0].title}}</td>
                      <td>{{x[0].dueDate}}</td>
                  </tr>
              </tbody>
          </table>
          <span *ngIf="!rows2">You're all caught up, nothing to do, check back later!</span>
      </div>
  </div>

  <div class="row" *ngIf="user.role">
    <div class=col-md-6 *ngFor="let x of rows">
      <div (click)="loadCourse(x.id)" class="card mt-2 mr-2">
        <h5 class="card-header">Course: {{x.name}}, Code: {{x.code}}, Department: {{x.department}}</h5>
        <div class="card-body">
          Instructor: {{x.instructor}} <br />
          Credit hours: {{x.creditHours}}
        </div>
      </div>
    </div>
    <div class=col-md-12>
      <div class="card mt-2 mr-2">
        <h5 class="card-header">Calendar</h5>
        <div class="card-body">
          <calendar-component></calendar-component>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!user.role">
    <div class=col-md-6 *ngFor="let x of rows">
      <div (click)="loadCourse(x.courseId)" class="card mt-2 mr-2">
        <h5 class="card-header">Course: {{x.course.name}}, Code: {{x.course.code}}, Department: {{x.course.department}}</h5>
        <div class="card-body">
          Instructor: {{x.course.instructor}} <br />
          Credit hours: {{x.course.creditHours}}
        </div>
      </div>
    </div>
    <div class=col-md-12>
      <div class="card mt-2 mr-2">
        <h5 class="card-header">Calendar</h5>
        <div class="card-body">
          <calendar-component></calendar-component>
        </div>
      </div>
    </div>
  </div>
</ng-container>