mat-sidenav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 8vw;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.right-content {
  height: 95vh;
  float: right;
  width: 15vw;
  background: #424242;
}

.left-content {
  height: 95vh;
  float: left;
  width: 8vw;
  background: #424242;
}

.notification-link {
  color: #25c4c4;
  text-decoration: none;
}

.center-content {
  margin-left: 8vw;
  width: 75vw;
}

.mat-card {
  margin-left: 1vw;
  margin-top: 1vw;
  margin-right: auto;
  width: 30vw;
}

.calendar {
  position: absolute;
  bottom: 5vh;
  width: 75vw;
  margin-left: 1vw;
}