<!-- <mat-sidenav-container> -->
<div>
  <div class="col-md-12">
    <div class="card mt-2" style="width:18rem; height:100vh; float: right;">
      <h5 class="card-header">TODO:</h5>
      <div class="card-body">
        <a class="notification-link" routerLink="/coursesearch">CLASS A ASSIGNMENT 1</a>
        <br />
        <a class="notification-link" routerLink="/coursesearch">CLASS B ASSIGNMENT 1</a>
      </div>
    </div>

    <div class="row">
      <div class=col-md-6 *ngFor="let number of [0,1,2,3]">
        <div class="card mt-2 mr-2">
          <h5 class="card-header">class Name</h5>
          <div class="card-body">
            Class info would go here:
          </div>
        </div>
      </div>
      <div class=col-md-12>
        <div class="card mt-2 mr-2">
          <h5 class="card-header">Calendar</h5>
          <div class="card-body">
            <calendar-component></calendar-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>