<div *ngIf="!isLogin && sidebar" class="sidenav">
    <a (click)="clicked()" routerLink="/home">Home</a>
    <a (click)="clicked()" *ngIf="user.role" routerLink="/classlist">Class List</a>
    <a (click)="clicked()" *ngIf="user.role" routerLink="/coursesearch">Course Search</a>
    <a (click)="clicked()" routerLink="/calendar">Calendar</a>
    <a (click)="clicked()" routerLink="/profilepage">Profile Page</a>
    <a (click)="clicked()" routerLink="/tuitionandfees">Tuition and Fees</a>
    <a (click)="openModal()">Inbox</a>
</div>

<div [ngClass]="{'main' : !isLogin && sidebar}">
    <nav *ngIf="!isLogin" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" (click)="clicked()" routerLink="/home" routerLinkActive="active">KARD</a>
        <a class="navbar-nav mr-auto"></a>
        <button class="btn btn-primary" (click)="toggleSidebar()">Toggle Sidebar</button>
    </nav>
    <router-outlet></router-outlet>
</div>

<ng-template #modalContent>
    <!-- editable -->
    <h3 mat-dialog-title>Upcoming This Week</h3>
    <div mat-dialog-content>
        CS 3750 assignment due: <a mat-item-list class="notification-link" [mat-dialog-close] routerLink="/sidebar">Assignment 1</a>
    </div>
    <div mat-dialog-content>
        CS 3750 calendar event: <a mat-item-list class="notification-link" [mat-dialog-close] routerLink="/calendar">Group Meeting</a>
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>
    </div>
    <!-- editable -->
</ng-template>