<ng-container [ngSwitch]="view">
    <!-- view 1|add -->
    <ng-container *ngSwitchCase="1">
        <ng-container *ngTemplateOutlet="view1"></ng-container>
    </ng-container>
</ng-container>

<!-- view 1|add -->
<ng-template #view1>
    <div class="card m-2">
        <h5 class="card-header">Add Class</h5>
        <div class="card-body">
            <form #form="ngForm" novalidate (ngSubmit)="save()">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="code">Code: </label>
                        <input #code="ngModel" class="form-control" id="code" name="code" type="text" required [(ngModel)]="model.code">
                        <small class="text-danger form-text" *ngIf="code.invalid && (code.dirty || code.touched) && code.errors.required">
                            Code is required.
                        </small>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="name">Name: </label>
                        <input #name="ngModel" class="form-control" id="name" name="name" type="text" required [(ngModel)]="model.name">
                        <small class="text-danger form-text" *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
                            Name is required.
                        </small>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="description">Description: </label>
                        <input #description="ngModel" class="form-control" id="description" name="description" type="text" [(ngModel)]="model.description">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="department">Department: </label>
                        <input #department="ngModel" class="form-control" id="department" name="department" type="text" required [(ngModel)]="model.department">
                        <small class="text-danger form-text" *ngIf="department.invalid && (department.dirty || department.touched) && department.errors.required">
                            Department is required.
                        </small>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="creditHours">Credit Hours: </label>
                        <input #creditHours="ngModel" type="number" class="form-control" id="creditHours" name="creditHours" type="text" required [(ngModel)]="model.creditHours">
                        <small class="text-danger form-text" *ngIf="creditHours.invalid && (creditHours.dirty || creditHours.touched) && creditHours.errors.required">
                            Credit hours are required.
                        </small>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="location">Location: </label>
                        <input #location="ngModel" class="form-control" id="location" name="location" type="text" required [(ngModel)]="model.location">
                        <small class="text-danger form-text" *ngIf="location.invalid && (location.dirty || location.touched) && location.errors.required">
                            Location is required.
                        </small>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="capacity">Capacity: </label>
                        <input #capacity="ngModel" type="number" id="capacity" name="capacity" required [(ngModel)]="model.capacity">
                        <small class="text-danger form-text" *ngIf="(capacity.dirty || capacity.touched) && capacity.errors && capacity.errors.required">
                            Capactiy is required.
                        </small>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="startDate">Start Date: </label>
                        <input #startDate="ngModel" class="form-control" id="startDate" name="startDate" type="date" [(ngModel)]="model.startDate" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="startTime">Start Time: </label>
                        <select #startTime="ngModel" class="form-control" id="startTime" name="startTime" [(ngModel)]="model.startTime" required>
                            <option>12:00 am</option>
                            <option>1:00 am</option>
                            <option>2:00 am</option>
                            <option>3:00 am</option>
                            <option>4:00 am</option>
                            <option>5:00 am</option>
                            <option>6:00 am</option>
                            <option>7:00 am</option>
                            <option>8:00 am</option>
                            <option>9:00 am</option>
                            <option>10:00 am</option>
                            <option>11:00 am</option>
                            <option>12:00 pm</option>
                            <option>1:00 pm</option>
                            <option>2:00 pm</option>
                            <option>3:00 pm</option>
                            <option>4:00 pm</option>
                            <option>5:00 pm</option>
                            <option>6:00 pm</option>
                            <option>7:00 pm</option>
                            <option>8:00 pm</option>
                            <option>9:00 pm</option>
                            <option>10:00 pm</option>
                            <option>11:00 pm</option>
                            <option>11:59 pm</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="endTime">End Time: </label>
                      <select #endTime="ngModel" class="form-control" id="endTime" name="endTime" [(ngModel)]="model.endTime" required>
                          <option>12:00 am</option>
                          <option>1:00 am</option>
                          <option>2:00 am</option>
                          <option>3:00 am</option>
                          <option>4:00 am</option>
                          <option>5:00 am</option>
                          <option>6:00 am</option>
                          <option>7:00 am</option>
                          <option>8:00 am</option>
                          <option>9:00 am</option>
                          <option>10:00 am</option>
                          <option>11:00 am</option>
                          <option>12:00 pm</option>
                          <option>1:00 pm</option>
                          <option>2:00 pm</option>
                          <option>3:00 pm</option>
                          <option>4:00 pm</option>
                          <option>5:00 pm</option>
                          <option>6:00 pm</option>
                          <option>7:00 pm</option>
                          <option>8:00 pm</option>
                          <option>9:00 pm</option>
                          <option>10:00 pm</option>
                          <option>11:00 pm</option>
                          <option>11:59 pm</option>
                      </select>
                  </div>
              
                  <div class="form-check">
                    <input class="form-check-input" #monday="ngModel" id="monday" name="monday" type="checkbox" [(ngModel)]="model.monday">
                    <label class="form-check-label" for="monday">Monday</label>
                  </div>
                  &nbsp;
                  <div class="form-check">
                    <input class="form-check-input" #tuesday="ngModel" id="tuesday" name="tuesday" type="checkbox" [(ngModel)]="model.tuesday">
                    <label class="form-check-label" for="tuesday">Tuesday</label>
                  </div>
                  &nbsp;
                  <div class="form-check">
                    <input class="form-check-input" #wednesday="ngModel" id="wednesday" name="wednesday" type="checkbox" [(ngModel)]="model.wednesday">
                    <label class="form-check-label" for="wednesday">Wednesday</label>
                  </div>
                  &nbsp;
                  <div class="form-check">
                    <input class="form-check-input" #thursday="ngModel" id="thursday" name="thursday" type="checkbox" [(ngModel)]="model.thursday">
                    <label class="form-check-label" for="thursday">Thursday</label>
                  </div>
                  &nbsp;
                  <div class="form-check">
                    <input class="form-check-input" #friday="ngModel" id="friday" name="friday" type="checkbox" [(ngModel)]="model.friday">
                    <label class="form-check-label" for="friday">Friday</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary" style="float:right;">Add</button>
            </form>
        </div>
t    </div>
</ng-template>