<div class="card m-2">
  <h5 class="card-header">Search Classes</h5>
  <div class="card-body">
    <form #form="ngForm" novalidate (ngSubmit)="search()">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="name">Name: </label>
          <input #name="ngModel" class="form-control" id="name" name="name" type="text" required [(ngModel)]="model.name">
        </div>

        <div class="form-group col-md-4">
          <label for="department">Department: </label>
          <input #department="ngModel" class="form-control" id="department" name="department" type="text" required [(ngModel)]="model.department">
        </div>

        <div class="form-group col-md-4">
          <label for="instructor">Instructor: </label>
          <input #instructor="ngModel" class="form-control" id="instructor" name="instructor" type="text" required [(ngModel)]="model.instructor">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" style="float:right;">Search</button>
    </form>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Code</th>
      <th>Department</th>
      <th>Instructor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of rows">
      <td>{{x.id}}</td>
      <td>{{x.name}}</td>
      <td>{{x.code}}</td>
      <td>{{x.departmnet}}</td>
      <td>{{x.instructor}}</td>
    </tr>
  </tbody>
</table>