<div class="card m-2">
  <h5 class="card-header">Search Classes</h5>
  <div class="card-body">
    <form #form="ngForm" novalidate (ngSubmit)="search()">
      <div class="row">

        <div class="form-group col-md-4">
          <label for="name">Name: </label>
          <input #name="ngModel" class="form-control" id="name" name="name" type="text" required [(ngModel)]="model.name">
        </div>

        <div class="form-group col-md-4">
          <label for="department">Department: </label>
          <input #department="ngModel" class="form-control" id="department" name="department" type="text" required [(ngModel)]="model.department">
        </div>

        <div class="form-group col-md-4">
          <label for="creditHours">Credit Hours: </label>
          <input #department="ngModel" class="form-control" id="creditHours" name="creditHours" type="text" required [(ngModel)]="model.creditHours">
        </div>

        <div class="form-group col-md-4">
          <label for="instructor">Instructor: </label>
          <input #instructor="ngModel" class="form-control" id="instructor" name="instructor" type="text" required [(ngModel)]="model.instructor">
        </div>

        <div class="form-group col-sm-4">
          <label for="ccyear">Department</label>
          <select class="form-control" id="department" name="department" required [(ngModel)]="model.department">
            <option>Business</option>
            <option>Computer Science</option>
            <option>Engineering</option>
            <option>English</option>
            <option>History</option>
            <option>Mathematics</option>
          </select>
        </div>

        <div class="form-group col-sm-4">
          <label for="ccyear">Location</label>
          <select class="form-control" id="location" name="location" required [(ngModel)]="model.location">
            <option>Main Campus</option>
            <option>Online</option>
            <option>Secondary Campus 1</option>
            <option>Secondary Campus 2</option>
            <option>Secondary Campus 3</option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label for="startTime">Start Time: </label>
          <select #startTime="ngModel" class="form-control" id="startTime" name="startTime" [(ngModel)]="model.startTime" required>
            <option>12:00 am</option>
            <option>1:00 am</option>
            <option>2:00 am</option>
            <option>3:00 am</option>
            <option>4:00 am</option>
            <option>5:00 am</option>
            <option>6:00 am</option>
            <option>7:00 am</option>
            <option>8:00 am</option>
            <option>9:00 am</option>
            <option>10:00 am</option>
            <option>11:00 am</option>
            <option>12:00 pm</option>
            <option>1:00 pm</option>
            <option>2:00 pm</option>
            <option>3:00 pm</option>
            <option>4:00 pm</option>
            <option>5:00 pm</option>
            <option>6:00 pm</option>
            <option>7:00 pm</option>
            <option>8:00 pm</option>
            <option>9:00 pm</option>
            <option>10:00 pm</option>
            <option>11:00 pm</option>
            <option>11:59 pm</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="endTime">End Time: </label>
          <select #endTime="ngModel" class="form-control" id="endTime" name="endTime" [(ngModel)]="model.endTime" required>
            <option>12:00 am</option>
            <option>1:00 am</option>
            <option>2:00 am</option>
            <option>3:00 am</option>
            <option>4:00 am</option>
            <option>5:00 am</option>
            <option>6:00 am</option>
            <option>7:00 am</option>
            <option>8:00 am</option>
            <option>9:00 am</option>
            <option>10:00 am</option>
            <option>11:00 am</option>
            <option>12:00 pm</option>
            <option>1:00 pm</option>
            <option>2:00 pm</option>
            <option>3:00 pm</option>
            <option>4:00 pm</option>
            <option>5:00 pm</option>
            <option>6:00 pm</option>
            <option>7:00 pm</option>
            <option>8:00 pm</option>
            <option>9:00 pm</option>
            <option>10:00 pm</option>
            <option>11:00 pm</option>
            <option>11:59 pm</option>
          </select>
        </div>

        <div class="form-check">
          <input class="form-check-input" #monday="ngModel" id="monday" name="monday" type="checkbox" [(ngModel)]="model.monday">
          <label class="form-check-label" for="monday">Monday</label>
        </div>
        &nbsp;
        <div class="form-check">
          <input class="form-check-input" #tuesday="ngModel" id="tuesday" name="tuesday" type="checkbox" [(ngModel)]="model.tuesday">
          <label class="form-check-label" for="tuesday">Tuesday</label>
        </div>
        &nbsp;
        <div class="form-check">
          <input class="form-check-input" #wednesday="ngModel" id="wednesday" name="wednesday" type="checkbox" [(ngModel)]="model.wednesday">
          <label class="form-check-label" for="wednesday">Wednesday</label>
        </div>
        &nbsp;
        <div class="form-check">
          <input class="form-check-input" #thursday="ngModel" id="thursday" name="thursday" type="checkbox" [(ngModel)]="model.thursday">
          <label class="form-check-label" for="thursday">Thursday</label>
        </div>
        &nbsp;
        <div class="form-check">
          <input class="form-check-input" #friday="ngModel" id="friday" name="friday" type="checkbox" [(ngModel)]="model.friday">
          <label class="form-check-label" for="friday">Friday</label>
        </div>

      </div>
      <button type="submit" class="btn btn-primary" style="float:right;">Search</button>
    </form>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Code</th>
      <th>Department</th>
      <th>Instructor</th>
      <th>Credit Hours</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of rows">
      <td>{{x.id}}</td>
      <td>{{x.name}}</td>
      <td>{{x.code}}</td>
      <td>{{x.departmnet}}</td>
      <td>{{x.instructor}}</td>
      <td>{{x.creditHours}}</td>
      <td *ngIf="!user.role">
        <button *ngIf="userCourseIds.includes(x.id)" class="btn btn-primary" (click)="unregister(x.id)">Unregister</button>
        <button *ngIf="!userCourseIds.includes(x.id)" class="btn btn-primary" (click)="register(x.id)">Register</button></td>
    </tr>
  </tbody>
</table>


<div class="toast" id="toast">
  <div class="toast-header" id="toast-header">
    Operation failed
  </div>
  <div class="toast-body" id="toast-body">
    Could not add registration for class
  </div>
</div>
