<!-- stripe-payment.component.html -->

<form (ngSubmit)="createStripeToken(_totalAmount)" class="checkout">
    <label for="card-info">Card Info</label>
    <div id="form-field">
        <div id="card-info" #cardInfo></div>
        <button id="submit-button" type="submit">
            Pay ${{_totalAmount}}
        </button>

        <div class="form-inline">
            <button id="submit-button2" type="submit" class="form-control" (click)="payDifferentAmount()">
                Pay
            </button>
            <input type="amount" class="form-control" id="amount" placeholder="Other Amount">
        </div>

        <mat-error id="card-errors" role="alert" *ngIf="cardError">
            <mat-icon style="color: #f44336">cancel</mat-icon>
            &nbsp;{{ cardError }}
        </mat-error>
    </div>
</form>

