.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
}

.sidenavRight{
  width: 200px;
  right: 0%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-card {
  width: 400px;
  margin: auto;
  text-align: center;
  background-color: #515151;
}

.form-container {
  display: grid;
  grid-row-gap: 10px;
}

.button-container {
    display: grid;
    grid-row-gap: 5px;
}

.icon-container {
  display: grid;
  grid-row-gap: 30px;
  padding-left: 80px;
  transform: scale(1.2);
}
.icon-containerRight {
  display: grid;
  grid-row-gap: 30px;
  padding-left: 30px;
  transform: scale(1.2);
}


mat-form-field {
  display: block;
}

.notification-link {
  color: #25c4c4;
  text-decoration: none;
}

.notification-link:hover, .notification-link:active {
  text-decoration: underline;
}
