<ng-container [ngSwitch]="view">
  <!-- view 1|readonly -->
  <ng-container *ngSwitchCase="1">
    <ng-container *ngTemplateOutlet="view1"></ng-container>
  </ng-container>
  <!-- view 2|edit profile -->
  <ng-container *ngSwitchCase="2">
    <ng-container *ngTemplateOutlet="view2"></ng-container>
  </ng-container>
</ng-container>

<ng-template #view1>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <!-- need this to take us back to home-->
        <a mat-item-list routerLink="/sidebar" class="home">Home</a>
        <span style="width: 100%;text-align: center">KARD Learning</span>
      </mat-toolbar>
      <button mat-stroked-button type="button" style="margin-left:50px;margin-top:50px" (click)="view = 2;">Edit Profile</button>

      <!-- Profile pic would go here-->
      <div class="center">
        <img src="http://i38.photobucket.com/albums/e149/eloginko/hello_zpsc60ffbf3.gif" />
      </div>
      <!-- Profile elements-->
      <div>
        <p> &nbsp; </p>
        <p class="profile">Student Info:</p>
        <p> &nbsp; </p>
        <p class="profile">First Name: {{model.firstName}}</p>
        <p class="profile">Last Name: {{model.lastName}}</p>
        <p class="profile">Date of Birth: {{model.dateOfBirth}}</p>
        <p>&nbsp;</p>
        <p class="profile">Address: {{model.streetAddress}}</p>
        <p class="profile">City: {{model.city}}</p>
        <p class="profile">State: {{model.state}}</p>
        <p class="profile">Zip: {{model.zip}}</p>
        <p>&nbsp;</p>
        <p class="profile">Email: {{model.email}}</p>
        <p class="profile">Phone: {{model.phone}}</p>
        <p>&nbsp;</p>
        <p class="profile">Bio:</p>
        <textarea disabled class="profile" name="bio" rows="10" cols="30">{{model.bio}}</textarea>
        <p>&nbsp;</p>
        <div style="margin-left:50px">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <i class="fa fa-linkedin-square" style="font-size:36px"></i>
          <a class="external-links" target="_blank" href="https://www.linkedin.com/home">LinkedIn</a>
          <i class="fa fa-github" style="font-size:36px"></i>
          <a class="external-links" target="_blank" href="https://github.com/">GitHub</a>
          <i class="fa fa-facebook" style="font-size:36px"></i>
          <a class="external-links" target="_blank" href="https://www.facebook.com/">Facebook</a>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<ng-template #view2>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <form #form="ngForm" class="form-container" (ngSubmit)="updateUser()">
        <mat-toolbar color="primary">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button></button>
          <!-- need this to take us back to home-->
          <a mat-item-list routerLink="/sidebar">Home</a>
          <span style="width: 100%;text-align: center">KARD Learning</span>
        </mat-toolbar>
        <!-- Profile pic would go here-->
        <div class="center">
          <img src="http://i38.photobucket.com/albums/e149/eloginko/hello_zpsc60ffbf3.gif" />
        </div>
        <!-- Profile elements-->
        <div>
          <p> &nbsp; </p>
          <p class="profile">Student Info:</p>
          <p> &nbsp; </p>

          <p>
            <mat-form-field class="profile">
              <input #firstName="ngModel" matInput placeholder="First Name" name="firstName" type="name" [(ngModel)]="model.firstName" required>
              <mat-error>
                Required field.
              </mat-error>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile">
              <input #lastName="ngModel" matInput placeholder="Last Name" name="lastName" type="name" [(ngModel)]="model.lastName" required>
              <mat-error>
                Required field.
              </mat-error>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile">
              <input #dateOfBirth="ngModel" matInput placeholder="Birth Date" name="birthDate" type="date" [(ngModel)]="model.dateOfBirth" required>
              <mat-error>
                Required field.
              </mat-error>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile">
              <input #streetAddress="ngModel" matInput placeholder="Street Address" name="streetAddress" type="address" [(ngModel)]="model.streetAddress">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile">
              <input #city="ngModel" matInput placeholder="City" name="city" type="city" [(ngModel)]="model.city">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile">
              <input #state="ngModel" matInput placeholder="State" name="state" type="state" [(ngModel)]="model.state">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile">
              <input #zip="ngModel" matInput placeholder="Zip" name="zip" type="zip" [(ngModel)]="model.zip">
            </mat-form-field>
          </p>


          <p>
            <mat-form-field class="profile">
              <input #email="ngModel" matInput placeholder="Email" name="email" type="email" [(ngModel)]="model.email">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile">
              <input #phone="ngModel" matInput placeholder="Phone" name="phone" type="phone" [(ngModel)]="model.phone">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile" appearance="fill">
              <mat-label>Bio</mat-label>
              <textarea #bio="ngModel" name="bio" matInput [(ngModel)]="model.bio"></textarea>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile">
              <input #linkedInUrl="ngModel" matInput placeholder="LinkedIn url" name="linkedInUrl" type="text" [(ngModel)]="model.linkedInUrl">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile">
              <input #githubUrl="ngModel" matInput placeholder="Github url" name="githubUrl" type="text" [(ngModel)]="model.githubUrl">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="profile">
              <input #facebookUrl="ngModel" matInput placeholder="Facebook url" name="facebookUrl" type="text" [(ngModel)]="model.facebookUrl">
            </mat-form-field>
          </p>

          <div class="button-container">
            <button mat-stroked-button style="margin-top:30px;margin-right:30px;" type="button" (click)="view = 1; resetViewstate()">Cancel</button>
            <button mat-raised-button style="margin-top:30px" color="primary" type="submit">Save</button>
          </div>
        </div>
      </form>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>