<div id="particles-js"></div>

<ng-container [ngSwitch]="view">
    <!-- view 1|login -->
    <ng-container *ngSwitchCase="1">
        <ng-container *ngTemplateOutlet="view1"></ng-container>
    </ng-container>


    <!-- view 2|create user -->
    <ng-container *ngSwitchCase="2">
        <ng-container *ngTemplateOutlet="view2"></ng-container>
    </ng-container>

    <!-- view 3|forgot password -->
    <ng-container *ngSwitchCase="3">
        <ng-container *ngTemplateOutlet="view3"></ng-container>
    </ng-container>
</ng-container>

<!-- login -->
<ng-template #view1>
    <div class="login-div">
        <div class="card" style="width: 24rem;">
            <h5 class="card-header">Login</h5>
            <div class="card-body">
                <form #form="ngForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="email">Email address: </label>
                        <input #email="ngModel" class="form-control" id="email" name="email" type="email" [(ngModel)]="model.email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input #password="ngModel" class="form-control" id="password" name="password" type="password" [(ngModel)]="model.password" required>
                        <small class="text-danger" *ngIf="errors && errors.userNotFound">
                            Email, or password was invalid.
                        </small>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-secondary mr-2" (click)="view = 2; resetViewstate()">Create user</button>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<!-- create user -->
<ng-template #view2>
    <div class="create-div">
        <div class="card" style="width: 24rem;">
            <h5 class="card-header">Create User</h5>
            <div class="card-body">
                <form #form="ngForm" (ngSubmit)="createUser()">
                    <div class="form-group">
                        <label for="username">Username: </label>
                        <input #username="ngModel" class="form-control" id="username" name="username" type="text" [(ngModel)]="model.username" required>
                    </div>
                    <div class="form-group">
                        <label for="firstname">First name: </label>
                        <input #firstname="ngModel" class="form-control" id="firstname" name="firstname" type="text" [(ngModel)]="model.firstname" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last name: </label>
                        <input #lastname="ngModel" class="form-control" id="lastname" name="lastname" type="text" [(ngModel)]="model.lastname" required>
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth">Date of birth: </label>
                        <input #dateOfBirth="ngModel" class="form-control" id="dateOfBirth" name="dateOfBirth" type="date" [(ngModel)]="model.dateOfBirth" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address: </label>
                        <input #email="ngModel" class="form-control" id="email" name="email" type="email" [(ngModel)]="model.email" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmEmail">Confirm email address: </label>
                        <input #confirmEmail="ngModel" class="form-control" id="confirmEmail" name="confirmEmail" type="confirmEmail" [(ngModel)]="model.confirmEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input #password="ngModel" class="form-control" id="password" name="password" type="password" [(ngModel)]="model.password" required>
                        <small class="text-danger" *ngIf="errors && errors.userExists">
                            A user with the same username, or email, already exists.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm password: </label>
                        <input #confirmPassword="ngModel" class="form-control" id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="model.confirmPassword" required>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" #role="ngModel" id="role" name="role" type="checkbox" [(ngModel)]="model.role" required>
                        <label class="form-check-label" for="role">Is teacher: </label>
                    </div>

                    <div class="btn-group mt-3" role="group">
                        <button class="btn btn-secondary mr-2" (click)="view = 1; resetViewstate()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>